body {
    background-color: #151515;
    font-family: 'Montserrat', arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #ededed;
    background-image: url("background.jpg");
    background-size: cover;
}

h1 {
    font-size: 3em;
    color: white;
    font-weight: 600;
    text-align: center;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202, 214, 228, 0.34),
    0 0 12px rgba(30, 242, 122, 0.52),
    0 0 21px rgba(30, 242, 48, 0.92),
    0 0 34px rgba(30, 242, 51, 0.78),
    0 0 54px rgba(132, 255, 0, 0.92);
}

h2 {
    text-align: center;
}

#txt {
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-left: 3px;
    font-size: 14px;
    transition: 1s;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202, 214, 228, 0.34),
    0 0 12px rgba(30, 242, 122, 0.52),
    0 0 21px rgba(30, 242, 48, 0.92),
    0 0 34px rgba(30, 242, 51, 0.78);
}

#bouton {
    background-color: rgb(39, 39, 39);
    border: solid 4px rgb(255, 255, 255);
    width: 82px;
    height: 33px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 1s;
    box-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202, 214, 228, 0.34),
    0 0 12px rgba(30, 242, 122, 0.52),
    0 0 21px rgba(30, 242, 48, 0.92);
    margin-left: 867%;
    margin-top: -60px;
}

.container {
    width: 82px;
    height: 33px;
    transition: 0,3s;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

#txt:hover{
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202, 214, 228, 0.34),
    0 0 12px rgba(30, 242, 122, 0.52),
    0 0 21px rgba(30, 242, 48, 0.92),
    0 0 34px rgba(30, 242, 51, 0.78),
    0 0 54px rgba(132, 255, 0, 0.92);
}

#bouton:hover{
    box-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202, 214, 228, 0.34),
    0 0 12px rgba(30, 242, 122, 0.52),
    0 0 21px rgba(30, 242, 48, 0.92),
    0 0 34px rgba(30, 242, 51, 0.78),
    0 0 54px rgba(132, 255, 0, 0.92);
}

#givenColor{
    border-radius: 5px;
    margin-left: 44%;
    margin-bottom: 40px;
}

#resultat {
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 1000;
    font-size: 100%;
    text-align: center;
    margin-top: -20px;
}

#gamePlay {
    height: 550px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.8);
}

#try {
    position: relative;
    font-size: medium;
    height: auto;
    width: 180px;
    margin-left: 75%;
    margin-top: -25%;
    
}

div {
    display: flex;
}